<div class="header">
    <mat-toolbar class="nav">
        <i class="material-icons mat-48 head-icon m-r-sm" style="color: #ffc757 !important">directions_bike</i>
        <div ngClass="cool-link">
            <button mat-button (click)="isActive = 'Discover'" routerLink="/" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                Discover
            </button>
        </div>

      <div fxLayout="row" fxShow="false" fxShow.gt-sm>
          <!-- <button mat-button routerLink="/network">Network</button> -->
          <button routerLink="/lead" routerLinkActive="active" mat-button (click)="checkAuth()">Lead</button>
      </div>
      <button mat-button [matMenuTriggerFor]="menu" fxHide="false" fxHide.gt-sm>
          <i class="material-icons">menu</i>
      </button>
      
      <mat-menu x-position="before" #menu="matMenu">
              <!-- <button mat-menu-item routerLink="/network">Network</button> -->
              <button mat-menu-item routerLink="/lead">Lead Ride</button>
      </mat-menu>

      <!-- This fills the remaining space of the current row -->
      <span class="fill-remaining-space"></span>
      <div [hidden]="!this.user.isAuthenticated()">
          <mat-menu [hidden]="!this.currentUser" #userMenu="matMenu"  style="color: #ffc757 !important">
              <button mat-menu-item routerLink="/settings" routerLinkActive="active">Settings</button>
              <hr>
              <button mat-menu-item (click)="user.logout()">Log Out</button>
          </mat-menu>
          
          <button
            mat-button
            [matMenuTriggerFor]="userMenu">
            <div style="display: flex; justify-content: space-between; align-items: center; ">
                <div *ngIf="this.user.isAuthenticated()">
                    <span style="font-weight: 400; letter-spacing: 1.6px; text-transform: none; color: #ffc757;"> {{ this.currentUser ? this.currentUser.firstname : 'hi' }} </span>
                </div>
                <div *ngIf="this.user.isLoading">
                    <span>Retreiving user...</span>
                </div>
                <ng-container *ngIf="!this.user.isLoading">
                    <img *ngIf="this.currentUser.profile_medium" [src]="this.currentUser.profile_medium" class="circle">
                    <div style="display: flex; align-content: center;">
                        <i class="material-icons"  style="color: #ffc757 !important">menu</i>
                    </div>
                </ng-container>
                </div>
            </button>

           
          
      </div>
      <div [hidden]="this.user.isAuthenticated()">
          <button 
              mat-button
              routerLink="/"
              (click)="user.login()">
                <i class="material-icons mat-36">face</i>
                SIGN IN
            </button>
        </div>
    </mat-toolbar>
</div>