@import '../../style-variables.scss';
.font {
    margin-right: -5px;
    margin-top: 2px;
}
.color {
    color: lightslategray;
}
.space {
    display: flex;
    justify-content: flex-start;
    font-weight: 200;
}

.left {
    
    :hover {
        background-color: #ffffff;
        transition: 100ms;
        cursor: pointer;
        
    }
}
.left .item:hover {
    box-shadow: 1px 1px 18px #dddddd;
    transition: 100ms;
}

.ride-toolbar {
    padding: 10px;
    background-color: #dddddd;
    border-bottom: 1px solid darkgray;
    border-bottom: 1px solid #dddddd;
    
}

.left .item {
    border-bottom: 1px solid #dddddd;
    box-shadow: 1px 2px 2px lightgrey;
    height: 100px;   
}
.left .item:first-of-type {
    border-top: 1px solid #dddddd;
}
.side-header {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #dddddd;
}
.searchbar {
    color: #333;
    font-size: 14px;
    width: 100%;
    margin-bottom: -20px;   
}
.searchoptions {
    font-size: 14px;
    margin-left: 10px;
    width: 100px;
}
.mat-tab-label {
    width: 33.30%;
}
.mat-list-item {
    background-color: #f3f3f4;
}
