@import '../../style-variables.scss';
.font {
    margin-right: -5px;
    margin-top: 2px;
}
.color {
    color: lightslategray;
}
.space {
    display: flex;
    justify-content: flex-start;
    font-weight: 200;
}

.left {
    
    :hover {
        background-color: lightblue;
        transition: 400ms;
    }
}
.ride-toolbar {
    background-color: #f9f9f9;
    border-bottom: 1px solid darkgray;
}
.item {
    // box-shadow: 15px 15px 15px black;
    box-shadow: 1px 2px 2px lightgrey;
    padding: 5px;
}
.side-header {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #dddddd;
}
.searchbar {
    color: #333;
    font-size: 14px;
    width: 100px;
    margin-top: 30px;
}
.searchoptions {
    font-size: 14px;
    margin-left: 10px;
    width: 100px;
}