.font {
    margin-right: -5px;
    margin-top: 2px;
}
.color {
    color: lightslategray;
}
.space {
    display: flex;
    justify-content: flex-start;
    font-weight: 200;
}

.left {
    :hover {
        background-color: lightblue;
        transition: 400ms;
    }
}
.ride-toolbar {
    margin-top: 10px;
}