<div class="ride-container">
	<div class="ride-toolbar">
			
		<form>
			<!-- <h6 style="font-size: 12px; margin-bottom: 0px;">Looking in <b>Los Angeles, CA</b></h6> -->
			<div style="display: flex; align-items: center;">
				<mat-form-field class="searchbar" appearance="outline">
					<mat-label>Search</mat-label>
					<input matInput [placeholder]="searchBy === 'ZipCode' ? 'Enter Zip Code or City, State' : 'Enter City/State' ">
				</mat-form-field>
				
				<!-- <mat-form-field class="searchoptions" appearance="outline">
					<mat-label>Search</mat-label>
					<mat-select [(ngModel)]="searchBy" [ngModelOptions]="{standalone: true}">
						<mat-option *ngFor="let option of searchOptions" [value]="option.value">
							{{option.name}}
						</mat-option>
						
					</mat-select>
				</mat-form-field> -->
				
				<button mat-mini-fab color="primary" style="margin-left: 15px; margin-right: 5px;"><i class="material-icons mat-24">search</i></button>
				
				<!-- <button style="margin-left: 20px" mat-mini-fab color="primary"><i class="material-icons mat-24">search</i></button> -->
				
				<!-- <mat-checkbox [(ngModel)]="checked">Checked</mat-checkbox>
				<mat-checkbox [(ngModel)]="checked">Checked</mat-checkbox> -->
			</div>
		</form>
		

	</div>
	<mat-tab-group style="background-color: #dddddd;">
		<mat-tab>
			<ng-template mat-tab-label>
				ALL
			</ng-template>
			<mat-list *ngFor="let listing of currentListings" class="left" role="list">
				<mat-list-item class="item" role="list-item" style="padding-right: 10px;">
	
					<i matListIcon class="material-icons mat-36 head-icon">{{ listing.type === '1' ? 'directions_bike' : 'directions_run'}}</i>
					<h3 mat-line style="font-weight: bold; margin-bottom: 5px;">{{listing.title}}</h3>
					
					
					<span mat-line class="color">
						<span style="margin-right: 20px;">{{ listing.date | date }}</span>
						<span class="color">{{ listing.time }}</span>
					</span>
					<span mat-line class="color">Pace: {{ listing.pace === '1' ? 'Fun' : 'Fast'}}</span>
					<span mat-line class="color">{{ listing.info }}</span>
					<!-- <span mat-line class="color">Hosted by Alonzo Alden</span> -->
		
					<img class="font" style="border: 1px solid #dadada" [src]="this.getSmallMap(listing?.route.map.summary_polyline)">
					
				</mat-list-item>
			</mat-list>
		</mat-tab>
		<mat-tab>
			<ng-template mat-tab-label>
				<i matListIcon class="material-icons mat-36 head-icon" style="margin-right: 7px;">directions_bike</i> 
			</ng-template>
			<mat-list class="left" role="list">
				<mat-list-item class="item mat-elevation-z8" role="list-item">

					<i matListIcon class="material-icons mat-36 head-icon">directions_bike</i>
					<h3 mat-line style="font-weight: bold; margin-bottom: 5px;">Chill Ride thru apple valley</h3>
					
					<span mat-line class="color">8:00am</span>
					<span mat-line class="color">Thursday, August 5 2018</span>
					<!-- <span mat-line class="color">Hosted by Alonzo Alden</span> -->

					<img class="font" [src]="this.smallMap">
					
				</mat-list-item>
				<mat-list-item class="item" role="list-item">

						<i matListIcon class="material-icons mat-36 head-icon">directions_bike</i>
						<h3 mat-line style="font-weight: bold; margin-bottom: 5px;">Chill Ride thru apple valley</h3>
						
						<span mat-line class="color">8:00am</span>
						<span mat-line class="color">Thursday, August 5 2018</span>
						<!-- <span mat-line class="color">Hosted by Alonzo Alden</span> -->
			
						<img class="font" [src]="this.smallMap">
						
					</mat-list-item>
					<mat-list-item class="item" role="list-item">

						<i matListIcon class="material-icons mat-36 head-icon">directions_bike</i>
						<h3 mat-line style="font-weight: bold; margin-bottom: 5px;">Chill Ride thru apple valley</h3>
						
						<span mat-line class="color">8:00am</span>
						<span mat-line class="color">Thursday, August 5 2018</span>
						<!-- <span mat-line class="color">Hosted by Alonzo Alden</span> -->
			
						<!-- <img class="font" [src]="this.getSmallMap(item.map.summary_polyline)"> -->
						
					</mat-list-item>
			</mat-list>
		</mat-tab>
		<mat-tab>
			<ng-template mat-tab-label>
				<i matListIcon class="material-icons mat-36 head-icon">directions_run</i>
					
				</ng-template>
			<mat-list class="left" role="list">
				<mat-list-item class="item" role="list-item">
						
					<i matListIcon class="material-icons mat-36 head-icon">directions_run</i>
					<h3 mat-line style="font-weight: bold; margin-bottom: 5px;">Chill Ride thru apple valley</h3>
					
					<span mat-line class="color">8:00am</span>
					<span mat-line class="color">Thursday, August 5 2018</span>
					<!-- <span mat-line class="color">Hosted by Alonzo Alden</span> -->
		
					<img class="font" [src]="this.smallMap">
					
				</mat-list-item>
				<mat-list-item class="item" role="list-item">
	
					<i matListIcon class="material-icons mat-36 head-icon">directions_run</i>
					<h3 mat-line style="font-weight: bold; margin-bottom: 5px;">Chill Ride thru apple valley</h3>
					
					<span mat-line class="color">8:00am</span>
					<span mat-line class="color">Thursday, August 5 2018</span>
					<!-- <span mat-line class="color">Hosted by Alonzo Alden</span> -->
		
					<img class="font" [src]="this.smallMap">
					
				</mat-list-item>
				<mat-list-item class="item" role="list-item">
	
					<i matListIcon class="material-icons mat-36 head-icon">directions_run</i>
					<h3 mat-line style="font-weight: bold; margin-bottom: 5px;">Chill Ride thru apple valley</h3>
					
					<span mat-line class="color">8:00am</span>
					<span mat-line class="color">Thursday, August 5 2018</span>
					<!-- <span mat-line class="color">Hosted by Alonzo Alden</span> -->
		
					<img class="font" [src]="this.smallMap">
					
				</mat-list-item>
			</mat-list>
		</mat-tab>
	</mat-tab-group>
</div>