<div class="wrap">
	<div class="leader-container">
		

		<div *ngIf="user.isLoading">
			<mat-progress-spinner
				class="spinner"
				color="primary"
				mode="indeterminate">
			</mat-progress-spinner>
		</div>
		
		<div fxLayout="row" fxLayout.xs="column">
			<div fxFlex="100">
				<h1 style="margin-bottom: 40px;">Lead Group</h1>
				<div style="font-family: sans-serif">
					<div style="margin-bottom: 20px;">
						<div style="font-weight: 600; margin-bottom: 15px;"> </div>
						<mat-radio-group>
							<mat-radio-button value="1" style="margin-right: 20px;">Bike</mat-radio-button>
							<mat-radio-button value="2">Run</mat-radio-button>
						</mat-radio-group>
					</div>
					<!-- <div>
						<mat-radio-group>
							<mat-radio-button value="1" style="margin-right: 20px;">Race</mat-radio-button>
							<mat-radio-button value="2">Fun</mat-radio-button>
						</mat-radio-group>
					</div> -->
					<div style="margin-bottom: 0px;">
						<div style="font-weight: 600"> </div>
						<mat-form-field style="width: 100%;">
							<mat-select [formControl]="paceFormControl" required [(ngModel)]="pace" id="pace" placeholder="Pace level">
								<mat-option *ngFor="let level of levels" [value]="level.value">
									{{level.name}}
								</mat-option>
							</mat-select>
							<mat-error *ngIf="paceFormControl.hasError('required')">
								Pace is <strong>required</strong>
							</mat-error>
						</mat-form-field>
						
					</div>
					<div style="margin-bottom: 20px;">
						<div style="font-weight: 600; margin-bottom: 10px;"> </div>
						<route></route>
						<div style="font-weight: 100; font-size: 12px; margin-bottom: 15px;">Need routes to choose from? Go to Strava to create and add them to your collection.</div>
					
					</div>
					<div style="margin-bottom: 20px;">
						<div style="font-weight: 600; margin-bottom: 10px;"></div>
						<mat-form-field style="margin-bottom: 20px; width: 100%;">
							<input [formControl]="dateFormControl" matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Choose a Date"
								id="trademarkDate"
								[(ngModel)]="date"
								
								name="trademarkDate"
								
								(click)='check()'
								required/>
							<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
							<mat-datepicker touchUi #picker></mat-datepicker>
							<mat-error *ngIf="dateFormControl.hasError('required')">
								Date is <strong>required</strong>
							</mat-error>
						</mat-form-field>
					

						<div class="timesection">
							<input [formControl]="timeFormControl" class="mat-copy" placeholder="Choose a Time" [ngxTimepicker]="timepicker">
							<ngx-material-timepicker-toggle class="timepicker"  [for]="timepicker"></ngx-material-timepicker-toggle>
							<ngx-material-timepicker #timepicker [enableKeyboardInput]="true"></ngx-material-timepicker>
							
						</div>
						<mat-error style="font-size: 75%; padding-top: 5px;" *ngIf="timeFormControl.hasError('required') && date">
							Time is <strong>required</strong>
						</mat-error>
					</div>

					<div style="margin-bottom: 0;">
						<mat-form-field style="width: 100%;">
							<textarea matInput placeholder="Anything else?"></textarea>
							
						</mat-form-field>
					</div>
					<div style="width: 100%; text-align: center">
						<button style="color: blue;" mat-button (click)="submitEntry()">SUBMIT</button>
					</div>
				</div>
			</div>
		</div>
		
		<!--<route [hidden]="this.routes.getSelectedRoute().id"></route>-->
		
		<!--<div [hidden]="!this.routes.getSelectedRoute().id" class="route-form">
			<map class="t"></map><br><br><br><br><br><br><br>
			<span (click)="this.routeListView()">BACK</span>
		</div>-->
	</div>
</div>