<div class="wrap">
	<div class="leader-container">
		

		<div [hidden]="!user.isLoading">
			<mat-progress-spinner
				class="spinner"
				color="primary"
				mode="indeterminate">
			</mat-progress-spinner>
		</div>
		
		<div class="" 
			fxLayout="row" 
			fxLayout.xs="column">
           
			
			<div fxFlex="100">
					<h1 style="margin-top: 0; font-family:Verdana, Geneva, Tahoma, sans-serif">Lead Group</h1>
					<div style="font-family: sans-serif">
						<p style="font-weight: 700">1. Select a route. </p>
						<p style="font-weight: 200">Need routes to choose from? Go to Strava and create or add them to your collection.</p>
						<route></route>
					</div>

					
		
				

			</div>
		</div>
		
		<!--<route [hidden]="this.routes.getSelectedRoute().id"></route>-->
		
		<!--<div [hidden]="!this.routes.getSelectedRoute().id" class="route-form">
			<map class="t"></map><br><br><br><br><br><br><br>
			<span (click)="this.routeListView()">BACK</span>
		</div>-->
	</div>
</div>