.wrap {
    // background-color: #e3e3e4;
    background-color: #eaeaea;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0px;
    height: 100%;
    
    .leader-container {
        // height: 100%;
        max-width: 1024px;
        margin: 0 auto;
        background-color: #fafafa;
        padding: 20px 40px;
        border: 1px solid #eeeeee;
        border-radius: 2px;
        box-shadow: 1px 1px 24px #dadada;
        height: 100%;
    }

    .top-banner {
        margin: 0 auto;
        width: 100%;
        border-bottom: 1px solid #d9d9d9;
    }
    .spinner {
        top: 50%;
        left: 47%;
    }
    

}

.sec1 {
    background-color: #f2f2f2;
}
