.wrap {
    background-color: #e3e3e4;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    
    .leader-container {
        // height: 100%;
        max-width: 1100px;
        margin: 0 auto;
        background-color: #fafafa;
        padding: 50px;
        border-radius: 2px;
    }

    .top-banner {
        margin: 0 auto;
        width: 100%;
        border-bottom: 1px solid #d9d9d9;
    }
    .spinner {
        top: 50%;
        left: 47%;
    }
    

}

.sec1 {
    background-color: #f2f2f2;
}