<div class="wrap">
	<div class="title" style="display: flex; top: 0px; background-color: #008ca8; margin: 0; padding: 60px 0px 20px 0px; color: #fff;">
		<a routerLink="/" style="text-decoration: none; z-index: 2;">
			<span class="back-button">
				<i class="material-icons" style="margin-right: 5px;">arrow_back</i>
			</span>
		</a>
		<div style="display: flex; justify-content: flex-start; width: 100%; align-items: center; font-size: 19px;">{{ selectedListing?.title }}</div>
		<div style="width: 91%; position: absolute; margin-top: -7px; display: flex; flex-direction: column; align-items: flex-end;">
			<div style="display: flex; flex-direction: column; align-items: center;">
				<span style="font-family: sans-serif; font-weight: 100">Lead by</span>
				<img src="{{ selectedListing?.creator_photo }}" style="width: 74px; height: 74px; border-radius: 100%;">
				<span style="color: #444; font-family: sans-serif; font-weight: 600; font-size: 18px;">{{ selectedListing?.creator }}</span>
			</div>
		</div>

		<mat-menu [hidden]="!this.currentUser" #optionsMenu="matMenu"  style="color: #0038a8 !important">
			<button *ngIf="currentUser._id === selectedListing?.creator_id && !userExistsInGroup" mat-menu-item>
				<div style="display: flex; align-items: center; ">
					<i class="material-icons" style="margin-right: 8px;">edit</i>
					EDIT LISTING
				</div>
			</button>
			<button *ngIf="currentUser._id === selectedListing?.creator_id" mat-menu-item>
				<div style="display: flex; align-items: center;">
					<i class="material-icons" style="margin-right: 8px;">delete_forever</i>
					DELETE LISTING
				</div>
			</button>
			<button *ngIf="userExistsInGroup" mat-menu-item>
				<div style="display: flex; align-items: center;">
					<i class="material-icons" style="margin-right: 8px;">remove_circle_outline</i>
					LEAVE GROUP
				</div>
			</button>
		</mat-menu>
		
		
		<a style="display: flex; justify-content: space-between; align-items: center;">
			<div style="display: flex; justify-content: flex-start; width: 54px; align-items: center; font-size: 19px;">
				<i mat-button [matMenuTriggerFor]="optionsMenu" class="material-icons btn" style="font-size: 32px;  position: absolute;">more_vert</i>
			</div>
		</a>

		



	</div>
	<div class="listing-container">

		<ng-container *ngIf="userService.isLoading" >
			<div class="gray-cover-bg-full">
				<div>
					<mat-progress-spinner
						class="spinner-loader"
						color="primary"
						mode="indeterminate">
					</mat-progress-spinner>
				</div>
			</div>
		</ng-container>
		<ng-container>
			
				
				<div fxFlex="100" *ngIf="selectedListing?._id" class="main-layout">
					<div class="view-listing-content">
						<!-- <div>
							<span style="font-size: 18px;"><strong>{{ selectedListing?.title }}</strong></span>
						</div> -->
						<!-- <div>
							<span>Host</span>
							<span><img src="{{ selectedListing?.creator_photo }}" style="width: 32px; height: 32px"> {{ selectedListing?.creator }}</span>
						</div> -->
						<div stlye="display: flex;">
							<div style="width: 199px; display: flex; flex-direction: column;">
								<span style="color: #666; padding-bottom: 8px; font-weight: 100; font-size: 16px; letter-spacing: 1.4px;">Date</span>
								<div style="display: flex; align-items: center;">
									<span style="letter-spacing: 0.3px; font-size: 18px; font-weight: 600; display: flex; align-items: center;"><i class="material-icons mat-36" style="margin-right: 5px;">date_range</i> {{ selectedListing?.date | date}}</span>
								</div>
							</div>
							<div style="display: flex; flex-direction: column;">
								<span style="color: #666; display: flex; align-items: center;  padding-bottom: 8px; font-weight: 100; font-size: 16px; letter-spacing: 1.4px;">Time</span>
								<div style="display: flex; align-items: center;">
									<span style="letter-spacing: 0.3px; font-size: 18px; font-weight: 600; display: flex; align-items: center;"> <i style="margin-right: 8px;" class="material-icons mat-36">access_time</i> {{ displayTime(selectedListing?.time) }}</span>
								</div>
							</div>
						</div>
						<!-- <div>
							<span>Time</span>
							<span> {{ displayTime(selectedListing?.time) }}</span>
						</div> -->
						<div stlye="display: flex;">
							<div style="width: 199px; display: flex; flex-direction: column;">
								<span style="color: #666; letter-spacing: 0.3px; font-size: 18px; display: flex; align-items: center;  padding-bottom: 8px; font-weight: 100; font-size: 16px; letter-spacing: 1.4px;">Type</span>
								<div style="display: flex; align-items: center;"> 
									<span style="letter-spacing: 0.3px; font-size: 18px; font-weight: 600; display: flex; align-items: center;" *ngIf="selectedListing?.type === '1'" >
										<i style="margin-right: 8px;" class="material-icons mat-36">directions_bike</i>
										Bike
									</span>
									<span style="letter-spacing: 0.3px; font-size: 18px; font-weight: 600; display: flex; align-items: center;" *ngIf="selectedListing?.type !== '1'" >
										<i style="margin-right: 8px;" class="material-icons mat-36">directions_run</i>
										Run
									</span>
								</div>
							</div>
							<div style="display: flex; flex-direction: column;">
								<span style="color: #666; display: flex; align-items: center;  padding-bottom: 8px; font-weight: 100; font-size: 16px; letter-spacing: 1.4px;">Pace</span>
								<div style="display: flex; align-items: center;">
									<span style="letter-spacing: 0.3px; font-size: 18px; font-weight: 600; display: flex; align-items: center;" *ngIf="selectedListing?.pace === '1'">
										<i style="margin-right: 8px;" class="material-icons mat-36">looks_3</i>
										Fast
									</span>
									<span style="letter-spacing: 0.3px; font-size: 18px; font-weight: 600; display: flex; align-items: center;" *ngIf="selectedListing?.pace !== '1'">
										<i style="margin-right: 8px;" class="material-icons mat-36">looks_one</i>
										Fun
									</span>
								</div>
							</div>
						</div>
						<div style="display: flex; flex-direction: column;">
							<span style="color: #666; display: flex; align-items: center;  padding-bottom: 8px; font-weight: 100; font-size: 16px; letter-spacing: 1.4px;">Info</span>
							<div style="display: flex; align-items: center;"> 
								<span style="font-weight: 500; display: flex; align-items: center; letter-spacing: .8px;">
									<i style="margin-right: 8px;" class="material-icons mat-36">info</i>
									{{ selectedListing?.info }}
								</span>
								
							</div>
						</div>

						<div style="display: flex; flex-direction: column;">
							<span style="color: #666; display: flex; align-items: center;  padding-bottom: 8px; font-weight: 100; font-size: 16px; letter-spacing: 1.4px;">Joining</span>
							<div style="display: flex; align-items: center;" class="join-list">
								<i style="margin-right: 8px;" class="material-icons mat-36">people</i>
								<span *ngIf="selectedListing?.members.length === 0 && currentUser._id !== selectedListing?.creator_id || !userService.isAuthenticated()" class="light-italic">Be the first to join..</span>
								<span *ngIf="selectedListing?.members.length === 0 && currentUser._id === selectedListing?.creator_id && userService.isAuthenticated()" class="light-italic">No one has joined your ride. Invite your friends..</span>
								<span *ngFor="let member of selectedListing?.members">
									<img *ngIf="member.profile_medium" src="{{ member.profile_medium }}"> 
									<i *ngIf="!member.profile_medium" class="material-icons mat-36">face</i>
									<span> {{ member.firstname || 'Mystery Guest' }}</span>
								</span>
							</div>
						</div>
						
						
						<div class="button-section">
							<button *ngIf="currentUser._id !== selectedListing?.creator_id && !userExistsInGroup" mat-raised-button color="primary" (click)=submitJoinGroup()>
								<i class="material-icons">person_add</i> 
								JOIN
							</button>

							<ng-container *ngIf="userService.isAuthenticated()">

								<button *ngIf="currentUser._id === selectedListing?.creator_id && !userExistsInGroup" mat-raised-button color="default" (click)=editListing()>
									<i class="material-icons">edit</i> 
									EDIT LISTING
								</button>
								<button *ngIf="userExistsInGroup" mat-raised-button color="default" (click)=submitRemoveFromGroup()>
									<i class="material-icons">remove_circle_outline</i> 
									LEAVE GROUP
								</button>
								<button *ngIf="currentUser._id === selectedListing?.creator_id" mat-raised-button color="default" (click)=deleteListing()>
									<i class="material-icons">delete_forever</i>
									DELETE LISTING
								</button>
							</ng-container>
						</div>
						
							
						
					</div>
					<div class="info-box" style="align-items: center; justify-content: center; margin-top: 50px">
						<i class="material-icons mat-16 info-box-logo">info</i>
						<div class="sub-title" style="display: inline; margin-right: 10px; margin-left: 5px; font-size: 12px;">Have a question? Ask the Host.</div>
						<button mat-mini-fab color="accent" style="display: inline;">
							<i class="material-icons">question_answer</i> 
						</button>
					</div>
					<!-- <div class="sub-header">Actions</div>
					

					<div class="content" style="line-height: 32px;">
						<ng-container *ngIf="isLoading">
							<div class="gray-cover-bg">
								<div>
									<mat-progress-spinner
										class="spinner-loader"
										color="primary"
										mode="indeterminate">
									</mat-progress-spinner>
								</div>
							</div>
						</ng-container>
						<div style="display: flex; align-items: center; width: 100%; padding: 10px 0px; box-sizing: border-box;">
							<strong style="flex: 2">READY TO JOIN?</strong>
							
							<span style="flex: 4">
								<button mat-raised-button color="primary">
									<i class="material-icons">directions_bike</i> JOIN
								</button>
							</span>
						</div>
						<div>
							
						</div>
						
					</div> -->
				</div>
			
		</ng-container>
	</div>
</div>