<div class="wrap">
	<div class="title" style="display: flex;font-size: 20px; top: 0px; background-color: #fafafa; margin: 0; padding: 0px; border-bottom: 1px solid #dadada">
		<a routerLink="/" style="text-decoration: none;">
			<span class="back-button" style="border-right: 1px solid #dadada;">
				<i class="material-icons" style="margin-right: 5px;">arrow_back</i>
			</span>
		</a>
		<div style="    display: flex;
		justify-content: flex-start;
		width: 100%;
		align-items: center;
		padding: 24px;">{{ selectedListing?.title }}</div>
	</div>
	<div class="listing-container">

		<ng-container *ngIf="userService.isLoading" >
			<div class="gray-cover-bg-full">
				<div>
					<mat-progress-spinner
						class="spinner-loader"
						color="primary"
						mode="indeterminate">
					</mat-progress-spinner>
				</div>
			</div>
		</ng-container>
		<ng-container>
			<div fxLayout="row" fxLayout.xs="column" class="main-layout">
				
				<div fxFlex="100" *ngIf="selectedListing?._id">
					<div class="view-listing-content"> 
						<div>
							<span>Host</span>
							<span><img src="{{ selectedListing?.creator_photo }}" style="width: 32px; height: 32px"> {{ selectedListing?.creator }}</span>
						</div>
						<div>
							<span>Date</span>
							<span> {{ selectedListing?.date | date}}</span>
						</div>
						<div>
							<span>Time</span>
							<span> {{ displayTime(selectedListing?.time) }}</span>
						</div>
						<div>
							<span>Type</span>
							<span> {{ selectedListing?.type === '1' ? 'Bike' : 'Run'}}</span>
						</div>
						<div>
							<span>Pace</span>
							<span> {{ selectedListing?.pace === '1' ? 'Fast' : 'Fun'}}</span>
						</div>
						<div>
							<span>Info</span>
							<span> {{ selectedListing?.info }}</span>
						</div>
						<div>
							<span class="join-list-title">Joining</span>
							<span class="join-list">
								<span *ngIf="selectedListing?.members.length === 0" class="light-italic"> Be the first to join..</span>
								<span *ngFor="let member of selectedListing?.members">
									<img *ngIf="member.profile_photo" src="{{ member.profile_photo }}"> 
									<i *ngIf="!member.profile_photo" class="material-icons mat-36">face</i>
									<span> {{ member.firstname || 'Mystery Guest' }}</span>
								</span>
							</span>
						</div>
						
						<div class="button-section">
							<button mat-raised-button color="primary"  (click)=submitJoinGroup()>
								<!-- <i class="material-icons">directions_bike</i> -->
								JOIN
							</button>
						</div>
						
							
						
					</div>
					<div class="info-box" style="align-items: center; justify-content: center; margin-top: 50px">
						<i class="material-icons mat-16 info-box-logo">info</i>
						<div class="sub-title" style="display: inline; margin-right: 10px; margin-left: 5px; font-size: 12px;">Have a question? Ask the Host.</div>
						<button mat-mini-fab color="accent" style="display: inline;">
							<i class="material-icons">question_answer</i> 
						</button>
					</div>
					<!-- <div class="sub-header">Actions</div>
					

					<div class="content" style="line-height: 32px;">
						<ng-container *ngIf="isLoading">
							<div class="gray-cover-bg">
								<div>
									<mat-progress-spinner
										class="spinner-loader"
										color="primary"
										mode="indeterminate">
									</mat-progress-spinner>
								</div>
							</div>
						</ng-container>
						<div style="display: flex; align-items: center; width: 100%; padding: 10px 0px; box-sizing: border-box;">
							<strong style="flex: 2">READY TO JOIN?</strong>
							
							<span style="flex: 4">
								<button mat-raised-button color="primary">
									<i class="material-icons">directions_bike</i> JOIN
								</button>
							</span>
						</div>
						<div>
							
						</div>
						
					</div> -->
				</div>
			</div>
		</ng-container>
	</div>
</div>