@import '../../style-variables.scss';

.color {
    color: #444;
}
.space {
    display: flex;
    justify-content: flex-start;
    font-weight: 200;
}

.left {
    .active-listing-tab {
        background-color: #f3f3f4;
        transition: all 100ms ease-in-out;
    }
    :hover {
        cursor: pointer;
    }
}

.ride-toolbar {
    padding: 10px;
    background-color: #f6feff;
    
    
}

.left .item {
    
    box-shadow: 1px 2px 2px lightgrey;
    padding: 6px;
}

.side-header {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #dddddd;
}
.searchbar {
    color: #333;
    font-size: 14px;
    width: 100%;
    margin-bottom: -20px;   
}
.searchoptions {
    font-size: 14px;
    margin-left: 10px;
    width: 100px;
}
.mat-tab-label {
    width: 33.30%;
}
.mat-list-item {
    background-color: #fff;
}
