/*Global style variables*/
@import './style-variables.scss';

/*Component styles*/
@import "./header/header.component.scss";
//@import "./lead/lead.component.scss";
@import "./home/home.component.scss";
//@import "./discover/ride/ride.component.scss";
//@import "./map/map-box.component.scss";

/*Global styles*/
body {
    font-family: 'Arvo';
    background-color: black;
}

.material-icons.mat-48.head-icon { 
    font-size: 48px; 
    margin-right: 12px;
}

.material-icons.mat-48 { 
    font-size: 48px; 
}
.material-icons.mat-36 { 
    font-size: 36px; 
}
.mat-toolbar-row, .mat-toolbar-single-row,
.mat-toolbar.mat-primary {
    background: #094380 !important;
}
.no-hover-effect .mat-button-focus-overlay {
    background-color: transparent;
}



/* ng-select global styles */
.ng-dropdown-panel {
    width: 200% !important;
}
.ng-select .ng-select-container,
.ng-select.ng-select-opened.ng-select-bottom>.ng-select-container,
.ng-dropdown-panel.ng-select-bottom {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
}
.col-fit,
.ng-select {
    width: 92%;
}
.ng-select.ng-select-opened>.ng-select-container,
.ng-select .ng-select-container:focus,
.ng-select.ng-select-opened.ng-select-bottom>.ng-select-container:focus {
    border-color: #1ab394;
}
.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
    top: 7px;
}

.ng-select.ng-select-opened.ng-select-bottom>.ng-select-container,
.ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
    border-color: #1ab394;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s !important;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
/* END ng-select global styles */
