
<ng-select [items]="routes"
        [virtualScroll]="true"
        bindLabel="name"
        bindValue="Id"
        placeholder="Choose your route"
        [(ngModel)]="selectedRoute"
        #routeDataVar="ngModel"
        id="routeDataId"
        name="routeDataId"
        loadingText="Loading..."
        [loading]="!routes"
        class="input-routes"
        dropdownPosition="left"
        >
    <ng-template ng-option-tmp let-item="item">
        <div class="image-section">
            <img (load)="isLoaded()" [src]="this.getSmallMap(item.map.summary_polyline)" alt="Map">
        </div>
        <div class="description-section">
            <span class="title">{{item.name}}</span>
            <span class="label">Distance: <span class="bold">{{ convertToMiles(item.distance) }} miles </span> </span>
            <span class="label">Elevation: <span class="bold">{{ convertToFeet(item.elevation_gain) }} feet </span> </span>
            <span class="label">Est. Moving Time: <span class="bold">{{ convertTomins(item.estimated_moving_time) }} mins </span> </span>
            <span *ngIf="item.description !== ''" class="label">Description: <span>{{ item.description }} blah balh balh blah blah blah balh balh blah blah blah balh balh blah blah blah balh balh blah blah  miles </span> </span>
            <div  class="footer">
                <span>Created by {{ item.athlete.firstname + ' ' + item.athlete.lastname }}</span> 
            </div>
        </div>
    </ng-template>
</ng-select>

<!-- 
  <mat-card *ngFor="let route of routeData.routes" class="example-card" (click)="this.selectRoute(route)">
          <div class="list-item" *ngIf="!route">
              <mat-progress-spinner
                  class="spinner"
                  color="primary"
                  mode="indeterminate">
              </mat-progress-spinner>
          </div>

        <div *ngIf="route">
              <img mat-card-image (load)="isLoaded()" [src]="this.getSmallMap(route.map.summary_polyline)" alt="Map">
              <mat-card-header>
                  <img mat-card-avatar [src]="route.athlete.profile_medium">
                  <mat-card-title>{{ route.name }}</mat-card-title>
                  <mat-card-subtitle>{{ route.description || route.athlete.firstname + ' ' + route.athlete.lastname }}</mat-card-subtitle>
                  
              </mat-card-header>
              
              <mat-card-content>
                  <p>Distance: <strong>{{ convertToMiles(route.distance) }} </strong> miles <br>
                  Elevation: <strong>{{ convertToFeet(route.elevation_gain) }} </strong> feet</p>
              </mat-card-content>
          </div>
  </mat-card> -->
