.font {
    font-family: 'Arvo';
    margin-right: -5px;
    margin-top: 2px;
}
.color {
    color: lightslategray;
}

.example-header-image {
    background-size: cover;
}

.leadRoutesList {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 100px;
    //width: 30%;
    height: 40%;
    :hover {
        background-color: #FFE0B2;
        transition: 0.2s;
        cursor: pointer;
    }
}
mat-card {
    margin-bottom: 10px;
}
.list-item {
    margin: 0 auto;
    padding-right: 50px;
    height: 300px;
}