.font {
    font-family: 'Arvo';
    margin-right: -5px;
    margin-top: 2px;
}
.color {
    color: lightslategray;
}

.example-header-image {
    background-size: cover;
}

.leadRoutesList {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 100px;
    //width: 30%;
    height: 40%;
    :hover {
        background-color: #FFE0B2;
        transition: 0.2s;
        cursor: pointer;
    }
}
mat-card {
    margin-bottom: 10px;
}
.list-item {
    margin: 0 auto;
    padding-right: 50px;
    height: 300px;
}
.input-routes .image-section {
    display: inline-flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}
.input-routes .image-section > img {
    height: 160px;
}
.input-routes .description-section {
    display: inline-flex;
    flex-direction: column;
    vertical-align: top;
    padding: 10px 20px;
    
    line-height: 22px;
    height: 100%;
}
.input-routes .description-section {
    max-width: 270px;
}
.input-routes .description-section .label {
    font-size: 14px;
    font-weight: 300;
}
.input-routes .description-section .label .bold {
    font-weight: 900;
    margin-left: 3px;
}

.input-routes .description-section .title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.input-routes .description-section .footer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #a9a9a9;
    font-size: 12px;
}
.input-routes .description-section .footer span {
    font-weight: 200;
}
