<div style="width: 100%;">
    <mgl-map
        [style]="'mapbox://styles/mapbox/light-v9'"
        [zoom]="[9]"
        [center]="[-118, 34]"
        [fitBounds]="router.url.includes('listing') ? mapService.listingViewBounds : mapService.startViewBounds">

        <!-- <mgl-control position="top-left">
            Hello
        </mgl-control> -->
        <mgl-control mglNavigation ></mgl-control>
      
        <mgl-control
            mglScale
            unit="imperial"
            position="bottom-right"
        >
        </mgl-control>

        <mgl-marker 
            *ngFor="let listing of currentListings"
            [lngLat]="listing?.route.map.polyline.data.coordinates[0]"
            >
            <div class="marker" 
                (click)="viewListing(listing)"
                (mouseenter)="mapService.setSelectedMap(listing._id)"
                (mouseleave)="router.url.includes('listing') ? '' : mapService.clearSelectedMap()"
                (click)="alert('Foo')" [ngClass]="mapService.selectedMap === listing._id ? 'marker-hover' : ''">
                <i class="material-icons">directions_bike</i>
            </div>
        </mgl-marker>
        <mgl-layer [id]="listing?._id" *ngFor="let listing of currentListings;" type="line"
            [source]="listing?.route.map.polyline"
            [paint]="{
            'line-color': mapService.selectedMap === listing._id ? '#0038a8' : '#627BC1',
            'line-width': mapService.selectedMap === listing._id
                ? (router.url.includes('listing') ? 3 : 2)
                : 1,
            'line-opacity': mapService.selectedMap === listing._id ? 1 : 0.35
            }"
        >
        </mgl-layer>
    </mgl-map>
</div>