/* You can add global styles to this file, and also import other style files */
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
/* @import "~@ng-select/ng-select/themes/default.theme.css"; */
@import "~@ng-select/ng-select/themes/material.theme.css";

@import "~mapbox-gl/dist/mapbox-gl.css";
@import "~@mapbox/mapbox-gl-geocoder/lib/mapbox-gl-geocoder.css";

body {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #e3e3e4;
}
input {
    font-size: 16px;
}
listing {
    margin: 0;
}
.mat-button {
    font-weight: 400 !important;
    font-size: 16px;
    letter-spacing: .7px;
}
.mat-tab-label {
    min-width: 0px !important;
    width: 33.3%;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
    border-radius: 5px;
    background-color: #ffffff;
}
.mat-tab-label {
    background-color: #ffffff !important;
}
.mat-drawer {
    overflow-y: overlay !important;
    color: #424242;
}
.main-container {
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: #f9f9f9;
    /* height: 100vh !important; */
}
.main-container1 {
    position: relative;
    width: 100%;
    height: 100%;
}
.content > div {
    padding: 5px 15px;
}
.mat-button {
    /* color: #ffc757; */
    /* color: #0038a8; */
    color: #0038a8;
    height: 48px;
    /* font-weight: 600 !important; */
    letter-spacing: 1.2px !important;
}
.active {
    color: #00246d !important;
    background-color: black;
    transition: all 200ms linear;
    /* text-shadow: 1px 1px 10px #aaa; */
    padding-top: 5px !important;
    border-bottom: 5px solid #0052f6 !important;
    border-radius: 0px !important;
}
mgl-map {
    min-height: calc(100vh - 50px);
}
.mapboxgl-map {
    width: 100% !important;
}
.cdk-global-overlay-wrapper {
    justify-content: center;
}
.ng-dropdown-panel {
    width: 620px !important;
    max-height: 400px;
}
.ng-option {
    height: 174px;
}

.ng-select .ng-spinner-loader {
    position: absolute !important;
    right: 20px;
    margin-top: 28px;
}
.circle {
    border-radius: 100%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    margin-left: 10px;
}
.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
input.mat-copy {
    border: none;
    background: none;
    border-bottom: 1px solid #999;
    line-height: 25px;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
}
input.mat-copy:focus {
    outline: none;
    border-bottom: 2px solid #3f51b5;
}

.timepicker {
    border-bottom: 1px solid #999;
}
.timepicker-backdrop-overlay {
    background: none !important;
}

.timesection {
    display: flex;
    width: 100%;
}
.timesection .timepicker > button {
    display: flex;
    height: 26px;
    padding: 0 4px !important;
}
.timesection .timepicker > button svg {
    width: 18px;
    opacity: 0.5;
}
.label-copy {
    font-size: 12px;
    font-weight: 400;
    color: #858585;
    margin-top: -20px !important;
    position: absolute;
}

.material-icons.mat-16 { 
    font-size: 16px; 
}
.ng-select {
    padding-bottom: 10px;
}
.overflow-visible {
    overflow: visible !important;
}


.error2 .ng-placeholder,
.error2,
.error1 .ng-placeholder,
.error1 {
    color: #f44336 !important;
}
.error2.ng-select .ng-select-container:after {
    border-bottom: 1px solid #f44336 !important;
}
.error1 .ng-placeholder,
.error1 {
    border-bottom: 1px solid #f44336 !important;
}


input.error1::placeholder {
    color: #f44336 !important;
}

.ng-dropdown-panel.ng-select-bottom {
    margin-top: 10px;
}
.ng-select .ng-select-container .ng-value-container {
    padding-top: 13px;
    
}
.timepicker__header {
    background-color: #0038a8 !important;
}
.spinner-loader {
    z-index: 4;
}
.gray-cover-bg-full {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 110%;
}
.gray-cover-bg {
    margin-left: -20px;
    margin-top: -20px;
    width: calc(100% - 140px);
    /* height: 638px; */
    height: 100%;
    box-sizing: border-box;
}
.gray-cover-bg-full,
.gray-cover-bg {
    position: absolute;
    background-color: rgba(243, 243, 244, 0.77);
    display: flex;
    justify-content: center;
    z-index: 3;
    transition: all 1000ms ease-in-out;
}
.gray-cover-bg-full > div,
.gray-cover-bg > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* .mat-list {
    padding-top: 1px !important;
} */
.mat-list .mat-list-item .mat-list-icon {
    width: initial !important;
    height: initial !important;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.mat-list-text {
    padding-top: 5px;
    padding-bottom: 5px;
}
/* .mat-tab-labels {
    background-color: #0038a8;
} */
.mat-list-text {
    margin-left: 10px;
    border-right: 1px solid #cacaca;
}
.mat-tab-body-content {
    border-bottom: 1px solid #cacaca;
}
.mat-list .mat-list-item .mat-list-item-content {
    padding: 0 0px 0 0 !important;
    flex-direction: row-reverse !important;
}
.mat-list .mat-list-item.mat-list-item-with-avatar .mat-list-item-content .mat-list-text {
    padding-left: 5px !important;
}
.mat-tab-body.mat-tab-body-active {
    overflow-y: hidden !important;
}
.btn:hover {
    cursor: pointer;
}
.marker {
    color: #0038a8;
    box-shadow: 4px 4px 12px #888;
    border-radius: 100%;
    padding: 3px;
    background-color: rgba(255, 255, 255, 0.01);
    border: 1px solid #eee; 
    cursor: pointer;
    transition: 100ms all ease-in-out;
}
.marker i {
    font-size: 20px;
    transition: 100ms all ease-in-out;
}
.marker-hover,
.marker:hover {
    background-color: rgba(255, 255, 255, 0.01);
    color: #00246d;
    border: 1px solid #fff;
    padding: 5px;
    box-shadow: 6px 6px 12px #888;
    transition: 100ms all ease-in-out;
    
}
.marker-hover i,
.marker:hover i {
    font-size: 26px;
    transition: 100ms all ease-in-out;
}