/* You can add global styles to this file, and also import other style files */
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #e3e3e4;
}
.mat-button {
    font-weight: 400 !important;
    font-size: 16px;
    letter-spacing: .7px;
}
.mat-tab-label {
    min-width: 0px !important;
    width: 33.3%;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
    border-radius: 5px;
    background-color: #ffffff;
}

.mat-tab-label {
    background-color: #ffffff !important;
}
.main-container {
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: #f9f9f9;
    /* height: 100vh !important; */
}
.main-container1 {
    position: relative;
    width: 100%;
    height: 100%;
}
.content > div {
    padding: 15px;
}
.active {
    color: #ffc757 !important;
    transition: all 200ms ease-in-out;
}
mgl-map {
    min-height: calc(100vh - 50px);
}
.mapboxgl-map {
    width: 100% !important;
}
.cdk-global-overlay-wrapper {
    justify-content: center;
}