.discover-container {
    height: 100%;
    z-index: 1;
    font-family: 'Arvo';
    .ride-list {
        width: 35%;
        // padding-bottom: 300px;
        // margin-bottom: -300px;
        // padding-top: 300px;
        // margin-top: -300px;
        border-radius: 3px;
        box-shadow: 3px 3px 3px darkgray;
        .center {
            margin: 200px auto;
        }
        background-color: #f9f9f9;
    }
}